.menuGrid{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
}

.title {
  color: #333;
  padding-bottom: 10px;
  text-align: left;
  font-size: 20px;
  text-transform: capitalize;
  margin:20px 20px;
}
.text {
  color: green;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 140px;
  height: 140px;
  padding: 5px 5px;
  margin: 10px;
  background: #4979ff;
  border-radius: 10px;
  color: white;
  text-align: center;
}

